<%= link_to "Facebook Login", '/auth/facebook' %>
<h1>Welcome</h1> <br/>

<h3> Make account? </h3>
<%= link_to "Create Account", 'users/create_account' %>


<!-- # <%= form_for :location do |f| %>
# <%= f.label :longitude %>
# <%= f.text_field :longitude %>
#
# <%= f.label :latitude %>
# <%= f.text_field :latitude %>
#
# <%= f.submit %>
# <% end %> -->
